.App {
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  font-family: "Abril Fatface", serif;
}

h1 {
  color: #b284bf;
}
.container {
  margin: 0 auto;
  border: solid 1px black;
  max-width: 400px;
  background-color: black;
  padding: 20px;
  border-radius: 10px;
}

.Home,
.Form {
  font-family: "Poppins", sans-serif;
}

.Home h2 {
  color: white;
}
.Home .container {
  max-width: 1200px;
}

.Home .container .add-client a {
  color: #b284bf;
}

.Home .container .add-client a:hover {
  color: white;
  text-decoration: none;
}
.Form input,
.Form label {
  max-width: 100%;
}
.Form label {
  text-align: left;
  color: white;
  margin-bottom: 10px;
}

.Form button {
  margin-top: 20px;
  color: black;
  color: #b284bf;
  border: 1px solid #b284bf;
  padding: 10px 20px;
}

.Form button:hover {
  background-color: #b284bf;
}
