.App {
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  font-family: "Abril Fatface", serif;
}

h1 {
  color: #b284bf;
}

.Home,
.Form {
  font-family: "Poppins", sans-serif;
}
.Home .table .table-hover {
  max-width: 100%;
  color: red;
}

.Form label {
  text-align: left;

  margin-bottom: 10px;
}

.Form button {
  margin-top: 20px;
  color: black;
  color: #b284bf;
  border: 1px solid #b284bf;
  padding: 10px 20px;
}

.Form button:hover {
  background-color: #b284bf;
}
