body {
  margin: 20px;
  padding: 20px;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(211, 230, 207, 1) 100%
  );
  border-radius: 20px;
}
